<div class="row">
  <div
    class="col-lg-8 col-xl-7 col-10 col-sm-9 col-md-8 mx-auto position-relative"
  >
    <div
      id="cover"
      class="ratio ratio-1x1 shadow"
      [style.background-image]="song.cover | backgroundImage"
    ></div>
    <div
      id="playback-rate"
      class="btn-group position-absolute bottom-0"
      dropdown
      [dropup]="true"
    >
      <button
        id="button-dropup"
        dropdownToggle
        type="button"
        class="btn btn-secondary dropdown-toggle"
        aria-controls="dropdown-dropup"
      >
        <i class="bi bi-speedometer"></i>
      </button>
      <ul
        id="dropdown-dropup"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-dropup"
      >
        <li role="menuitem">
          <button
            [class.active]="audio.playbackRate === 2"
            class="dropdown-item"
            (click)="audio.playbackRate = 2"
          >
            2
          </button>
        </li>
        <li role="menuitem">
          <button
            [class.active]="audio.playbackRate === 1.5"
            class="dropdown-item"
            (click)="audio.playbackRate = 1.5"
          >
            1.5
          </button>
        </li>
        <li role="menuitem">
          <button
            [class.active]="audio.playbackRate === 1.25"
            class="dropdown-item"
            (click)="audio.playbackRate = 1.25"
          >
            1.25
          </button>
        </li>
        <li role="menuitem">
          <button
            [class.active]="audio.playbackRate === 1"
            class="dropdown-item"
            (click)="audio.playbackRate = 1"
          >
            1
          </button>
        </li>
        <li role="menuitem">
          <button
            [class.active]="audio.playbackRate === 0.75"
            class="dropdown-item"
            (click)="audio.playbackRate = 0.75"
          >
            0.75
          </button>
        </li>
        <li role="menuitem">
          <button
            [class.active]="audio.playbackRate === 0.5"
            class="dropdown-item"
            (click)="audio.playbackRate = 0.5"
          >
            0.5
          </button>
        </li>
        <li role="menuitem">
          <button
            [class.active]="audio.playbackRate === 0.25"
            class="dropdown-item"
            (click)="audio.playbackRate = 0.25"
          >
            0.25
          </button>
        </li>
      </ul>
    </div>
    <div id="volume" class="col-1 d-flex position-absolute bottom-0">
      <i
        [class]="{
          'bi-volume-up-fill': audio.volume > 0.5,
          'bi-volume-down-fill': audio.volume <= 0.5,
          'bi-volume-mute-fill': audio.volume === 0
        }"
        class="bi"
      ></i>
      <input
        (input)="audio.volume = $any($event.target).value / 10"
        type="range"
        [value]="5"
        [min]="0"
        [max]="10"
        [step]="0.5"
        class="form-range w-auto"
        aria-orientation="vertical"
      />
    </div>
  </div>
</div>
<div class="d-flex align-items-center flex-column">
  <div class="p-2 pb-0">
    <h2>{{ song.name }}</h2>
  </div>
  <div class="p-2 py-0">
    <h3>{{ song.artist }}</h3>
  </div>
  <div class="col-12">
    <div class="row g-0">
      <div class="col-2 lh-sm text-end pe-1">
        {{ audio.currentTime | time }}
      </div>
      <div class="col-8 position-relative rounded-pill" id="progress-container">
        <div
          #thumb
          data-seeking="false"
          [style.left.%]="
            thumb.dataset['seeking'] === 'false' &&
            (audio.currentTime / audio.duration) * 100
          "
          id="progress-thumb"
        ></div>
        <input
          #progressInput
          id="progress"
          (input)="
            thumb.dataset['seeking'] = 'true'; onInputProgress($any($event))
          "
          (change)="
            audio.currentTime = $any($event.target).value;
            thumb.dataset['seeking'] = 'false'
          "
          class="d-block w-100"
          type="range"
          min="0"
          [max]="audioDuration$ | async"
          [style.background-image]="progress$ | async"
          value="0"
        />
      </div>
      <div class="col-2 ps-1 lh-sm">{{ audio.duration | time }}</div>
    </div>
  </div>
  <div class="col-6 d-flex justify-content-around py-2">
    <button (click)="onExit.emit()" class="btn btn-outline-secondary">
      <i class="bi bi-arrow-left"></i>
    </button>
    <button
      (click)="audio.play()"
      class="btn btn-outline-primary"
      *ngIf="audio.paused; else running"
    >
      <i class="bi bi-play-circle"></i>
    </button>
    <ng-template #running>
      <button (click)="audio.pause()" class="btn btn-outline-primary">
        <i class="bi bi-pause-circle"></i>
      </button>
    </ng-template>
    <button
      type="button"
      [class.active]="audio.loop"
      (click)="audio.loop = !this.audio.loop"
      class="btn btn-outline-secondary"
    >
      <i class="bi bi-arrow-repeat"></i>
    </button>
  </div>
</div>
