@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
#cover {
  background-size: contain;
}
#volume {
  right: -1.2em;
  transform: rotate(-90deg);
}
#playback-rate {
  transform: translateX(-115%);
}
#progress-container {
  overflow-x: hidden;

  &:hover {
    #progress-thumb {
      opacity: 1;
    }
  }
  #progress-thumb {
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    transition: all linear 10ms;
    background-color: $purple;
    border-radius: 50%;
    width: 1.35rem;
    height: 1.35rem;
  }
  #progress {
    appearance: none;
    height: 1.35em;

    background-image: linear-gradient(to right, var(--bs-dark) 0% 100%);
    cursor: pointer;

    &::-webkit-slider-thumb {
      width: 1.35rem;
      height: 1.35rem;
      appearance: none;
      opacity: 0;
    }
  }
}
