<search
  #search
  [hidden]="selected"
  (onSongSelected)="
    selected = true;
    viewContainerRef.clear();
    viewContainerRef.createEmbeddedView(content, { $implicit: $event })
  "
></search>

<ng-template #content let-song>
  <div class="container" id="content">
    <div class="row">
      <player
        class="col-lg-7 col-md-12"
        (onExit)="
          viewContainerRef.clear();
          selected = false;
          search.selectedTrack = '';
          search.songInput.nativeElement.click()
        "
        [song]="song"
      ></player>
      <lyrics
        class="col-lg-5 fs-3 container-lg m-lg-0 my-3 position-relative"
        [song]="song"
      ></lyrics>
    </div>
  </div>
</ng-template>
